# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# python-specific ignores
*.pyc
__pycache__

# Other files and folders
.settings/
.tox*

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
