reports/ linguist-vendored

# Ignore all misc files
logs/ linguist-vendored

# Ignore generated reports
misc/ linguist-vendored

# misc files that should be ignored here.
*.ipynb linguist-vendored
*.html linguist-vendored